<!-- <app-demo-component></app-demo-component> -->
<!-- <app-bai-tap1></app-bai-tap1> -->
<!-- <app-demo-module></app-demo-module>
<app-test-module></app-test-module> -->
<!-- <app-one-way-binding></app-one-way-binding>
<app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directive></app-structural-directive> -->
<!-- <app-attribute-directive></app-attribute-directive>
<div appHighLight>app directive</div> -->
<!-- <app-interaction></app-interaction>
<button mat-button color="primary">Primary</button>
<mat-form-field>
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" placeholder="Ex. Pizza" value="abc">
</mat-form-field> -->
<!-- <app-menu-parent></app-menu-parent> -->
<router-outlet></router-outlet>